<!-- <div class="container my-3 p-3 border border-round"> -->
    <!-- <div class="form-group">
        <label for="numeroInput">Nome do Curso</label>
        <input [(ngModel)]="curso" type="string" class="form-control" id="numeroInput" placeholder="NodeJS" #numeroInput>
        <label for="numeroInput">Carga Horaria</label>
        <input [(ngModel)]="cargaHoraria" class="form-control" id="numeroInput" placeholder="20" #numeroInput>
        <p></p>
        <div class="d-grid gap-2">
            <button type="button" (click)="salvarCurso()" class="btn btn-primary">
                Salvar Curso
            </button>
        </div>
    </div> -->
<!-- </div> -->

